<a href="https://colab.research.google.com/github/men-ka/data-science-111/blob/main/day1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
#array
array=[80,85,86,40,30,90]
print(array)

[80, 85, 86, 40, 30, 90]

In [3]:
name = input("Enter name:")
age = input("Enter age:")
print("Hello "+ name +" "+ age)

Enter name:menka
Enter age:20
Hello menka 20

In [6]:
#create dataframe with Pandas
d={'col1':[1,2,3,4,7],'col2':[4,5,6,9,5],'col3':[7,8,9,6,8]}
df=pd.DataFrame(data=d)
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     9     6
4     7     5     8

In [7]:
#count columns and rows in the dataframe
count_column = df.shape[1]
count_row = df.shape[0]
print(count_column)
print(count_row)

3
5