<a href="https://colab.research.google.com/github/men-ka/data-science-111/blob/main/day2_listndict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
#list
prime = [2,3,5,7]
planets = ['mercury','venus','earth','mars','jupiter','saturn','uranus','neptune']
hands = [['J','Q','K'],['2','2','2'],['6','A','K']] #list of lists
my_favourite_things = [32, 'raindrops on roses', help]

In [ ]:
print(planets[0])
print(planets[-1])
print(planets[0:3]) #slicing, planets[:3]

mercury
neptune
['mercury', 'venus', 'earth']

In [ ]:
planets[3] = 'mehehe'
planets

['mercury',
 'venus',
 'earth',
 'mehehe',
 'jupiter',
 'saturn',
 'uranus',
 'neptune']

In [ ]:
print(planets.index('earth'))
"jupiter" in planets

2

True

In [ ]:
print(sum(prime))
print(max(prime))
print(np.mean(prime))

17
7
4.25

In [ ]:
x = 12
x.bit_length()

4

In [ ]:
#tuples
t = (1,2,3) # t=1,2,3
t
x=0.125
print(x.as_integer_ratio()) #returns multiple values
numer, denom = x.as_integer_ratio()
print(numer/denom)

(1, 8)
0.125

In [ ]:
#dictionaries
numbers = {'one':1,'two':2,'three':3}
numbers['two']

2

In [ ]:
numbers['eleven']=11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [ ]:
planets_initial={planets:planets[0] for planets in planets}
planets_initial

{'mercury': 'm',
 'venus': 'v',
 'earth': 'e',
 'mehehe': 'm',
 'jupiter': 'j',
 'saturn': 's',
 'uranus': 'u',
 'neptune': 'n'}

In [ ]:
for k in numbers:
  print("{}={}".format(k,numbers[k]))

one=1
two=2
three=3
eleven=11

In [ ]:
for planets, initial in planets_initial.items():
    print("{} begins with \"{}\"".format(planets.rjust(10), initial))

   mercury begins with "m"
     venus begins with "v"
     earth begins with "e"
    mehehe begins with "m"
   jupiter begins with "j"
    saturn begins with "s"
    uranus begins with "u"
   neptune begins with "n"