<a href="https://colab.research.google.com/github/men-ka/data-science-111/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url= "https://raw.githubusercontent.com/sc0609/Netflix_Data/refs/heads/main/netflix_titles.csv"
df = pd.read_csv(url)

In [3]:
# Basic cleanup
df['type']=df['type'].fillna("Unknown")
df['country']=df['country'].fillna("Unknown")

In [4]:
print("Count by Type:\n", df['type'].value_counts())

Count by Type:
 type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [5]:
#Top 10 countries
print("\nTop 10 Countries:\n", df['country'].value_counts().head(10))

Top 10 Countries:
 country
United States     2818
India              972
Unknown            831
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Name: count, dtype: int64

In [6]:
# Count by release year
print("\nReleases per Year:\n", df['release_year'].value_counts().sort_index(ascending=False))

# Country + Type grouping
country_type_grouped = df.groupby(['country', 'type']).size().reset_index(name='count')
print("\nCountry + Type breakdown:\n", country_type_grouped.sort_values(by='count', ascending=False).head(10))

Releases per Year:
 release_year
2021     592
2020     953
2019    1030
2018    1147
2017    1032
        ...
1945       4
1944       3
1943       3
1942       2
1925       1
Name: count, Length: 74, dtype: int64

Country + Type breakdown:
             country     type  count
685   United States    Movie   2058
284           India    Movie    893
686   United States  TV Show    760
835         Unknown    Movie    440
836         Unknown  TV Show    391
581  United Kingdom  TV Show    213
580  United Kingdom    Movie    206
362           Japan  TV Show    169
499     South Korea  TV Show    158
67           Canada    Movie    122

In [7]:
print("Content count by Rating:\n", df['rating'].value_counts())

Content count by Rating:
 rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

In [8]:
print("Top 5 Directors:\n", df['director'].value_counts().head(5))

Top 5 Directors:
 director
Rajiv Chilaka             19
Ra√∫l Campos, Jan Suter    18
Suhas Kadav               16
Marcus Raboy              16
Jay Karas                 14
Name: count, dtype: int64

In [10]:
#category combinations
print("Unique genre/category combinations:\n", df['listed_in'].nunique())
print("Top 5 Most Common Genres:\n", df['listed_in'].value_counts().head(5))

Unique genre/category combinations:
 514
Top 5 Most Common Genres:
 listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Name: count, dtype: int64

In [11]:
summary = df.groupby('type').agg({
    'title': 'count',
    'country': 'nunique'
}).rename(columns={'title': 'Total Titles', 'country': 'Unique Countries'})

print(summary)

         Total Titles  Unique Countries
type
Movie            6131               652
TV Show          2676               197

In [13]:
japan_df= df[df['country'].str.contains("Japan",na=False)]
print(japan_df['type'].value_counts())
print(japan_df['listed_in'].value_counts().head(5))
print(japan_df['release_year'].value_counts().head(5))

type
TV Show    199
Movie      119
Name: count, dtype: int64
listed_in
Anime Series, International TV Shows                        81
Action & Adventure, Anime Features, International Movies    33
Anime Series, Kids' TV                                      15
Kids' TV                                                    10
Anime Series, Crime TV Shows, International TV Shows         9
Name: count, dtype: int64
release_year
2018    49
2017    37
2019    36
2016    25
2020    24
Name: count, dtype: int64